%h2 Library
.row
  .columns.large-3.small-12
    = render 'library/nav'
  .columns.large-9.small-12
    .row
      .columns.large-4.small-12
        = image_tag "http://placehold.it/280x200&text=Thumbnail", :class => "lib-preview"
        .panel aeawgwe awegaweg awegeg
      .columns.large-4.small-12
        = image_tag "http://placehold.it/280x200&text=Thumbnail", :class => "lib-preview"
        .panel aeawgwe awegaweg awegeg
      .columns.large-4.small-12
        = image_tag "http://placehold.it/280x200&text=Thumbnail", :class => "lib-preview"
        .panel aeawgwe awegaweg awegeg