.hero
  .row
    .columns.small-12
      %h1.masthead Moment
      %p.lead
        This site is built for my families and friends to host and share photos.
      %p
        = link_to 'Sign up for free', sign_up_path, :class => 'button large sign-up'
      %p
        = link_to 'Log in', sign_in_path, :class => 'button'