%h2 Profile
.row
  .columns.large-3.small-12
    = image_tag current_user.avatar.url(:profile), :class => 'th'
  .columns.large-9.small-12
    %div.field Email:
    %div.text= current_user.email
    %div.field Name:
    %div.text
      - if current_user.name.blank?
        %em.muted Not set
      - else
        = current_user.name
.row
  .columns.small-12
    %hr/
    = link_to 'Edit', profile_edit_path, :class => "button"
