%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path}
          = Moment
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span

  %section.top-bar-section
    %ul.left
      %li
        %a{href: "#"}Home
      %li
        %a{href: "#"}Blog
      %li
        %a{href: "#"}Memo